.cart {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  z-index: 5;
  cursor: pointer;
  padding: 1.5rem;
}

@media (min-width: 767px) {
  .cart {
    bottom: unset;
    top: 4.5rem;
    right: 5rem;
  }
}