.basket-title {
  font-weight: 700;
}
.busket-descr {
    padding: 1rem 0;
}

.busket-descr__accent{
  font-weight: 700;
}
.basket-delete {
  cursor: pointer;
}

.basket-change {
  vertical-align: middle;
  cursor: pointer;
}